.githooks/* text eol=lf
regression-artifact-validator/specifications/ATL105/test-input/ai-solution/runs/2026-10-05/Run1/Pipeline_artifacts_5_oct/pipeline_run_artifacts/test_case_candidates.json filter=lfs diff=lfs merge=lfs -text
regression-artifact-validator/specifications/ATL105/test-input/ai-solution/runs/2026-10-05/Run1/Pipeline_artifacts_5_oct/test_case_candidates.json filter=lfs diff=lfs merge=lfs -text
regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-06-complete-handoff/semantic-alignment-2026-10-07-finalized/semantic-sme-query-register.csv filter=lfs diff=lfs merge=lfs -text
regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-06-complete-handoff/semantic-alignment-2026-10-07-finalized/semantic-sme-query-register.json filter=lfs diff=lfs merge=lfs -text
regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-06-complete-handoff/semantic-alignment-2026-10-07-finalized/semantic-tc-td-assessment.json filter=lfs diff=lfs merge=lfs -text
regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-07-Run4/analysis-v2/run4-semantic-review-v1/run4-test-br-semantic-review.jsonl filter=lfs diff=lfs merge=lfs -text
regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-07-Run4/analysis-v2/run4-semantic-review-v1/run4-ai-test-br-semantic-review-pairs.jsonl filter=lfs diff=lfs merge=lfs -text
regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-07-Run4/analysis-v2/run4-semantic-review-v2/run4-test-br-semantic-review.jsonl filter=lfs diff=lfs merge=lfs -text
regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-07-Run4/analysis-v2/run4-semantic-review-v2/run4-ai-test-br-semantic-review-pairs.jsonl filter=lfs diff=lfs merge=lfs -text
/regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-06-complete-handoff/semantic-alignment-2026-10-07-final/semantic-tc-td-assessment.json filter=lfs diff=lfs merge=lfs -text
/regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-06-complete-handoff/semantic-alignment-2026-10-07-final-v3/semantic-tc-td-assessment.json filter=lfs diff=lfs merge=lfs -text
/regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-06-complete-handoff/semantic-alignment-2026-10-07-finalized/semantic-sme-query-register.json filter=lfs diff=lfs merge=lfs -text
/regression-artifact-validator/specifications/ATL105/test-output/ai-solution-independent-review/2026-10-06-complete-handoff/semantic-alignment-2026-10-07-finalized/semantic-tc-td-assessment.json filter=lfs diff=lfs merge=lfs -text
