.githooks/* text eol=lf
regression-artifact-validator/specifications/ATL105/test-input/ai-solution/runs/2026-10-05/Run1/Pipeline_artifacts_5_oct/pipeline_run_artifacts/test_case_candidates.json filter=lfs diff=lfs merge=lfs -text
regression-artifact-validator/specifications/ATL105/test-input/ai-solution/runs/2026-10-05/Run1/Pipeline_artifacts_5_oct/test_case_candidates.json filter=lfs diff=lfs merge=lfs -text
